@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url(./assets/fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

/* --------------------------------------------------- Navbar ----------------------------------------*/
.navBar {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  margin-bottom: 2rem;
  justify-content: space-evenly;
}

.logoTn {
  width: 80%;
}

.linkLogo {
  margin: 0;
  padding: 0;
  width: 10%;
  align-items: center;
  height: 50px;
}

.toggle-wrapper {
  position: relative;
  height: 50px;
}

.toggle-wrapper img {
  position: absolute;
  height: 50px;
}
/* --------------------------------------------------- Hamburger ----------------------------------------*/

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: #3b3b40;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------------------------------------- ACCUEIL ----------------------------------------*/
.accueilContainer {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoAvatar {
  max-width: 900px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: solid #5e5e60 3px;
  margin: 20px;
  border-radius: 10px;
}

.blocInfo {
  background-color: rgb(251, 254, 254);
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: left;
  justify-content: center;
}

.myName {
  background-color: white;
}

.myTitle {
  background-color: white;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar img {
  filter: drop-shadow(10px 7px 10px rgb(182, 182, 182));
  width: 60%;
}

.description {
  font-family: "Montserrat";
  margin: 8px;
  color: #5e5e60;
}

/* --------------------------------------------------- Portfolio ----------------------------------------*/

.portfolioContainer {
  margin: 0;
  min-width: 20%;
  padding: 20px;
}

.portfolioBloc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.projectContainer {
  border: solid #5e5e60 3px;
  max-width: 900px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  border-radius: 10px;
  padding: 30px;
}

.titleKaleien {
  width: 100%;
}

.mobileDesktop {
  display: flex;
  flex-direction: row;
}
.mobileMockup {
  width: 300px;
}
.mobileMockup img {
  filter: drop-shadow(10px 7px 10px rgb(182, 182, 182));
  width: 50%;
}
.deskMockup {
  width: 300px;
  display: flex;
  align-items: center;
}
.deskMockup img {
  filter: drop-shadow(10px 7px 10px rgb(182, 182, 182));
  width: 100%;
}

.projectDesc {
  width: 100%;
  text-align: center;
}

.logoHardSkill {
  display: flex;
  justify-content: space-evenly;
}

.logoHardSkill img {
  width: 5%;
}

/* --------------------------------------------------- Contact ----------------------------------------*/
.contactContainer {
  margin: 0;
  min-width: 20%;
  padding: 20px;
}

.contactBloc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

form {
  max-width: 900px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: solid #5e5e60 3px;
  margin: 20px;
  border-radius: 10px;
}

.formRow {
  margin: 10px 20px 20px 10px;
}
.form-control {
  max-width: 500px;
  max-height: 200px;
}

.formInput {
  padding: 15px 10px;
  background-color: white;
}

.firstNameInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 300px;
}

.lastNameInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 300px;
}

.emailInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 300px;
}

.phoneInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
  width: 300px;
}

.messageInput input {
  border: solid #3b3b40 2px;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
}

/* --------------------------------------------------- Media Screen ----------------------------------------*/

@media (max-width: 768px) {
  #root {
    text-align: center;
  }

  .accueilContainer {
    max-width: 500px;
  }

  .navBar {
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }

  .menu.closed {
    display: none;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px;
    left: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: solid black 1px;
  }

  .Hamburger {
    display: block;
  }

  .avatar {
    justify-content: center;
  }

  .projectContainer {
    flex-direction: column;
    padding: 20px;
    gap: 3rem;
    max-width: 300px;
  }
  video {
    width: 100%;
    height: 100%;
  }

  .mobileDesktop {
    display: flex;
    flex-direction: column;
  }

  form {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .navBar {
    gap: 2rem;
  }
  .menu {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .menu.closed {
    display: flex;
    height: 100%;
    gap: 3rem;
  }

  .menu.open {
    display: flex;
  }

  .Hamburger {
    display: none;
  }

  .infoAvatar {
    flex-direction: row;
    align-items: center;
    margin: 20px;
  }
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 35px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #cacaca;
}

input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

label:active:after {
  width: 35px;
}

.check {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
}
